<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html" %}
    </head>
    <body>

        <!-- Navbar -->
        {% include "navbar.html" %}

        <!-- Page content -->
        <div class="container">
            <div class="card" style="margin-top: 30px;">
                <h4 class="card-header">About {{app_name}} </h4>
                <div class="card-body">
                    <p class="card-text">
                    {{ description }}.<br><br>
                    Version: {{ version }}<br>
                    Author: <a target=”_blank” href="https://www.github.com/flofriday">flofriday</a><br>
                    License: <a target=”_blank” href="{{ repository }}/blob/master/LICENSE">{{ license }}</a><br>
                    Github: <a target=”_blank” href="{{ repository }}">{{ repository_name }}</a><br><br>
                    Found a bug, or just want to request a feature? <br>
                    Feel free to write a <a target=”_blank” href="{{ repository }}/issues/new">issue</a>.<br>
                    </p>
                </div>
            </div>
        </div>


        <script src="./../js/jquery-3.2.1.slim.min.js"></script>
        <script src="./../js/bootstrap.min.js"></script>
    </body>
</html>
