<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html" %}
    </head>
    <body>

        <style>
html, body {
    height: 100%;
}
        </style>
        
        <!-- Page content -->
        <div class="container h-100 d-flex">
            <div class="jumbotron my-auto" style="width: 100%">
                <h1 class="display-3">Page not found.</h1>
                <p class="lead">Sorry, the requested page does not exist.</p>
                <a class="btn btn-primary btn-lg" href="/" role="button">Back Home</a>
            </div>
        </div>


        <script src="./../static/js/jquery-3.3.1.min.js"></script>
        <script src="./../static/js/bootstrap.min.js"></script>
    </body>
</html>
