<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html" %}
        <link rel="stylesheet" href="./../static/css/index.css">
    </head>
    <body>

        <!-- Navbar -->
        {% include "navbar.html" %}

        <!-- Modal for notifications -->
        {% include "modal.html" %}
        <!-- This is a modal to upload a file -->
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="uploadModalLabel">Upload File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="uploadModalContent" class="modal-body">

                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <input id="fileUpload" type="file" name="/"/>
                            <input class="btn btn-primary" type="submit" value="Submit"></input>
                        </form>

                    </div>
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Upload?</button>-->
                </div>
            </div>
        </div>
        <!-- This is a simple modal to create a new Folder -->
        <div class="modal fade" id="newFolderModal" role="dialog" aria-labelledby="newFolderModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="newFolderModalLabel">New Folder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="newFolderModalContent" class="modal-body">
                        <div class="input-group mb-3">
                            <input id="newFolderText" type="text" class="form-control" placeholder="Folder Name" aria-label="Folder Name" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="newFolderSubmit" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page content -->
        <div class="container">
            <div class="row">
                <div id="path" class="col">
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div id="fileCard" class="card">
                        <table class="table table-borderless table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="content">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="row">

                        <button id="upload" type="button" class="btn btn-primary">
                            <i class="fas fa-upload"></i>
                            Upload
                        </button>
                    </div>
                    <div class="row">
                        <a id="newFolder" class="side-option" href>New Folder</a>
                    </div>
                </div>
            </div>
        </div>


        <script src="./../static/js/jquery-3.3.1.min.js"></script>
        <script src="./../static/js/jquery.toaster.js"></script>
        <script src="./../static/js/bootstrap.min.js"></script>
        <script src="./../static/js/index.js"></script>
    </body>
</html>
