<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html" %}
        <link rel="stylesheet" href="./../static/css/index.css">
    </head>
    <body>

        <!-- Navbar -->
        {% include "navbar.html" %}

        <!-- Modal for notifications -->
        {% include "modal.html" %}

        <!-- Page content -->
        <div class="container">
            <div class="row">
                <div id="path" class="col">
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div id="file-card" class="card">
                        <table class="table table-borderless table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="content">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="row">
                        <button id="upload" type="button" class="btn btn-primary">
                            <i class="fas fa-upload"></i>
                            Upload
                        </button>
                    </div>
                    <div class="row">
                        <a id="new-folder" class="side-option" href>New Folder</a>
                    </div>
                </div>
            </div>
        </div>


        <script src="./../static/js/jquery-3.2.1.slim.min.js"></script>
        <script src="./../static/js/bootstrap.min.js"></script>
        <script src="./../static/js/index.js"></script>
    </body>
</html>
