<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Thumbcloud</title>

        <!-- CSS Dependencies -->
        <link rel="stylesheet" href="./../css/bootstrap.min.css">
        <link rel="stylesheet" href="./../css/fontawesome-all.min.css">

    </head>
    <body>

        <!-- Navbar -->
        {% include "navbar.html" %}

        <!-- Page content -->
        system.html </br>
        </br>
        Note: the system page will be implemented in the next verison.</br>
        <a href="/#">Back Home</a>


        <script src="./../js/jquery-3.2.1.slim.min.js"></script>
        <script src="./../js/bootstrap.min.js"></script>
    </body>
</html>
